.board{
  width: fit-content;
  border: 10px solid #11262e;
  border-radius: 5px;
  margin: 10px auto;
}

.row{ display: flex; }
.box{
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.red-section{ 
  background-color: #d44044; 
  width: 250px; /* 600/15*6 */
  height: 250px;
}

.green-section{ 
  background-color: #3d8119; 
  width: 250px; /* 600/15*6 */
  height: 250px;
}

.blue-section{ 
  background-color: #4b73e2; 
  width: 250px; /* 600/15*6 */
  height: 250px;
}

.yellow-section{ 
  background-color: #d5d500; 
  width: 250px; /* 600/15*6 */
  height: 250px;
}

.winning-section{
  border-top: 63px solid #3d8119;
  border-left: 63px solid #d44044;
  border-right: 63px solid #d5d500;
  border-bottom: 63px solid #4b73e2;
}

.red{ background-color: #d44044; }
.green{ background-color: #3d8119; }
.blue{ background-color: #4b73e2; }
.yellow{ background-color: #d5d500; }
.black-border{ border: 1px solid black; }
.white{ 
  background-color: white; width: 150px; height: 150px; 
  margin: 20% auto;
  border: 1px solid black;
}
.white div{
  border-radius: 50%;
      width: 40px; height: 40px;
      float: left;
      margin: 16px;
      border: 1px solid black;
    }
    #start-button {
      display: block;
      background-color: #ed2213;
      color: white;
      border: none;
      padding: 16px 32px;
      text-align: center;
      font-size: 24px;
      border-radius: 8px;
      cursor: pointer;
      position: absolute;
      top: 60%;
      right: 10%;
      transform: translateY(-50%);
    }
  
  
  /*Two player */
  #two-player {
    display : none;
    background-color: #13ed30;
    color: white;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 10%;
  }
  
  #three-player {
    display : none;
    background-color: #8413ed;
    color: white;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 10%;
  }
  
  #four-player {
    display : none;
    background-color: #0deae3;
    color: white;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    position:absolute;
    top: 60%;
    right: 10%;
  }
  
body {
background-image:url("/asset/wood-Board.jpg");
background-repeat: no-repeat;
background-size: cover;
}