html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color:#302E2B;
  display: flex;
  flex-direction: column;
  padding-left: 160px;
  transition: background-color 0.3s ease;
}
.container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-left: 160px;
  padding-right: 20px;
  box-sizing: border-box;
}
.sidebar{
  background-color: rgba(0, 0, 0, 0.5);
  color: #DFDEDE;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  transition: width 0.5s;
}

.sidebar a, .sidebar button {
  font: Albula;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 0px;

  color: #FFFFFF;
  font-weight: 400px;
  font-style: normal;
  font-variant:normal;
  font-kerning:auto;
  font-optical-sizing: auto;  
  font-stretch: 100%;
  font-variation-settings:normal;
  font-feature-settings:"ss01";
  text-transform:none;
  text-decoration:none solid rgb(255, 255, 255);
  text-align:start;
  text-indent:0px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.sidebar-brand {
  font-size: 24px;
  margin-bottom: 20px; 
}
.sidebar a:hover {
  color: gray;
}
.sidebar i {
  margin-right: 10px; 
}
.sidebar-button {
  background-color: #f2b137; 
  color: #FFFFFF; 
  padding: 10px;
  margin-top: 10px; 
  width: 100%;
  text-align: center;
}
.sidebar-button:hover {
  background-color: #d9a334; 
}

.bottom-links {
  font-size: 14px; 
  padding: 10px 15px;
  width: 100%;
}
.bottom-links a{
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  font-size: 10px;
  padding: 12px 20px;
}

.bottom-links a:hover {
  color: #CCCCCC; 
  background-color: transparent;
}

/* Default background color */
.dark-mode {
  background-color:#302E2B;
  color: white;
}

/* Light mode background color */
.light-mode {
  background-color: white;
  color: black;
}

.main {
  /*
  flex-grow: 1;
   */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-left: 160px; 
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 50px;
  box-sizing: border-box; 
}
.card-link {
  text-decoration: none;
  color: inherit;
}
.card {
  background-color:#4CAF50;
  text-align: center;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 400px;
  margin: 10px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
  color: white;
  display: block;
}
.card-footer {
  background-color: f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.button {
  background-color:rgba(0, 0, 0, 0.5) ; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
}

.button span {
  display: block;
  margin-top: 20px; 
}

footer {
  padding: 20px 40px;
  color: white;  
  text-align: center;
  font-size: 14px;

  height: 50px;
  bottom: 0;
  width: 100%;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; 
}

.footer-nav a{
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-branding {
  margin-top: 10px; 
  font-size: 16px; 
}
.footer-social a {
  display: inline-block;
  margin: 0 5px;
}
.footer-social a i {
  font-size: 20px;
}


@media (max-width: 768px) {
  .container {
    margin-left: 0; 
  }
  footer {
    left: 100px; 
    right: 10px;
  }
  .sidebar {
    width: 0;
  }
}